body {
  /* background: lightgrey; */
  background-image: linear-gradient(red, yellow);
}

h1 {
  display: flex;
  justify-content: center;

}

#outputBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#inputBox {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 60px;
  
}

input {
  border: 2px solid black;
}
 
button {
  border: 2px solid black;
  border-radius: 10%;
}

#boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 3%;
  margin: 20px;
}